<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="verification" content="e6108b2d48e2f90b148ab492c5c427b1" />
<meta name="google-site-verification" content="IxwfCEaOz124WiNnwl951PxAPMGMloeuR6IedcSwyfQ" />
<base href="/">
[{region name="\NewBatu\Site\Region\Metatags"}]
<link rel="stylesheet" type="text/css" media="all" href="/assets/css/common.css?ver=12" />
<script type="text/javascript" src="/assets/all.js?2"></script>



[{*<script>
(function (h, o, t, j, a, r) {
h.hj = h.hj || function () {
(h.hj.q = h.hj.q || []).push(arguments)
};
h._hjSettings = {hjid: 348890, hjsv: 5};
a = o.getElementsByTagName('head')[0];
r = o.createElement('script');
r.async = 1;
r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
a.appendChild(r);
})(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
</script>*}]
<!-- Start of Smartsupp Live Chat script -->
<script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "NewBatu",
    "url": "http://squad.com.pl",
    "logo": "http://squad.com.pl/assets/img/logo.png",
    "sameAs": [
    "https://www.facebook.com/SQUAD-1661797817438660/",
    "https://twitter.com/Platforma_NewBatu",
    "https://pl.pinterest.com/Platforma_squad/",
    "https://www.youtube.com/channel/UCt25Lf9UvDsuZuJP2Q93CCg"
    ]
    }
</script>
<script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "http://squad.com.pl",
    "potentialAction": {
    "@type": "SearchAction",
    "target": "http://squad.com.pl/szukaj/{search_term_string}.html",
    "query-input": "required name=search_term_string"
    }
    }
</script>
[{*[{resources type='app'}]*}]
