.clearfix { clear: both; }
@sliderHeight: 500px;
@sliderItemWidth: 120px;
.mySlider {
    width: 9*@sliderItemWidth+5;
    height: @sliderHeight;
    overflow: hidden;
    margin: 0 auto;

    ul { list-style: none;
         padding: 0;
         li {
             width: @sliderItemWidth;
             padding: 0;
             height: @sliderHeight;
             float: left;
             /*             box-shadow: 0 28px 14px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.22);*/
             border-left: 10px solid white;
             position:relative;
             &:hover .accordion-text {
                 opacity: 1;
                 transition: linear opacity 1.2s;
                 transition-delay: 0.5s;
             }
             .accordion-text{
                 opacity: 0;
                 position: absolute;
                 bottom: 20px;
                 height: 40px;
                 line-height: 40px;
                 width: 550px;
                 text-transform: uppercase;
                 padding-left: 20px;
                 font-size: 17px;
                 background-color: rgba(214, 209, 209, 0.9);
                 transition: linear 0;

             }
         }
    }
}






