
.gallery{
    margin-top: 255px;
    position: relative;


    .item{
        cursor: pointer;
        margin: 3px -12px;
        overflow: hidden;
        /*        &:hover{
                    &:before{
                        background-color: rgba(255,255,255,0.7);
                    }
                }*/
        &:before{
            position: absolute;
            height: auto;
            width: auto;
            top: 0;
            left: 0;
            background-color: none;
            display: block;
            content: "";
            z-index: 9999;
            transition: all 800ms;
        }
    }

    img.item {
        position: absolute;
        top: -99px;
        left: -99px;
        right: -99px;
        bottom: -99px;
        height: 100%;
        margin: auto;


    }

    .item:after{
        display: block;
        content:'';
        width: 100%;
        height: 0px;
        padding-top: 75%;
    }
}