#map {
    width: 100%;
    margin-bottom: 50px;
    iframe{
        width: 100%;
        display: block;
        pointer-events: none;
        position: relative; /* IE needs a position other than static */
        .clicked{
            pointer-events: visible;
        }
    }
}
