@import (inline) "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css";
@import (inline) "http://www.jqueryscript.net/css/jquerysctipttop.css";
@import (inline) "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700";
@import (inline) "../css/acordion.css";
@import (inline) "../fontello/css/fontello.css";

@import 'film.less';
@import 'gallery.less';
@import 'contact.less';
@import 'map.less';
@import 'parallax-image.less';
@import 'page404.less';
@import 'microblog.less';



body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    position: fixed;
    left:0;
    z-index: 8000;

    ul{
        padding:0;
        li{

            display: inline-block;
            list-style: none;
            margin: 0 15px;




            a{
                display: block;
                color: #756729;
                font-size: 14px;
                font-family: 'Open sans', sans-serif;
                text-transform: uppercase;
                padding: 10px 15px;
                border-top: 1px solid #756729;
                margin-top: 8px;
                @media (max-width: 510px){
                    font-size:10px;
                }
                @media (max-width: 432px){
                    padding: 10px 4px;
                }
                @media (max-width: 432px){
                    padding: 7px 0px;
                    font-size: 9px;
                }

                &:hover{
                    border-top: 4px solid #756729;
                    margin-top: 5px;
                    text-decoration: none;
                    color: #756729;
                }
                &:focus{
                    border-top: 4px solid #756729;
                    margin-top: 5px;
                    text-decoration: none;
                }
                &:active{
                    border-top: 4px solid #756729;
                    margin-top: 5px;
                    text-decoration: none;
                    color: #756729;
                }
                &:visited{
                    color: #756729;
                }
            }



        }
    }


}




.facebook{
    cursor: pointer;
    display: block;
    position:fixed;
    font-size: 55px;
    top: 35px;
    right: -52px;
    color: #4267b2;
    width: 165px;
    z-index: 999;
    &:hover{
        color: #786a2d;
    }

    @media (max-width: 1200px){
        margin: auto;
        margin-top: 50px;
        position: relative;
    }

}
.margin-top60{
    margin-top: 60px;
}



.logo-triangle{
    text-align: center;
    margin-bottom: 5px;
    img {
        margin: auto;
    }
}

.logo-sign{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    img {
        margin: auto;
    }
}

.batu-acordeon{
    /*height: 395px;*/
    width: 100%;
    /*    margin-top: 70px;*/
    margin-bottom: 70px;
    /*max-width: 268px;*/
    margin: auto auto;

    img{
        width: 100%;
        height: 100%;
    }
}

.text{
    padding-top:107px;
    h1{
        text-align: center;
        font-size: 21px;
        color: #474747;
        font-family: 'Open Sans',sans-serif;
        line-height: 28px;
        color: #1C1C1C;
        .ft-design {
            > i {
                display: none;
            }
            &:before {
                content: 'FT ';
                text-transform: uppercase;
                font-style: normal;
            }
            &:after {
                content: 'Design';
                text-transform: uppercase;
                font-style: italic;
            }
        }
    }

    article{
        text-align: justify;
        color: #474747;
        font-family: 'Open Sans',sans-serif;
        font-size: 14px;
        margin-top: 20px;
        color: #474747;
        margin-bottom: 60px;

    }
}


.small-text{
    font-family: 'Open Sans',sans-serif;
    color: #474747;
    text-align:center;
    margin-top: 110px;
    h2{
        height: 60px;
        margin-top: 60px;
        color: #1C1C1C;
        @media (max-width: 768px){
            margin-top: 20px;
        }
    }


    p{
        margin-top: 40px;
        margin-bottom: 80px;
        padding: 0 24px;
        color: #474747;
        @media (max-width: 768px){
            padding: 0px 80px;
            margin-top: 15px;
        }
    }
}

.padding-0{
    padding:0;
}

footer{

    background-color: rgba(255, 255, 255, 0.75);
    height: 50px;
    text-align: center;
    margin-top: 20px;
    position: relative;
    border-top: 1px solid #786b2e;
    @media (max-width: 768px){
        height:50px;
    }


    .footer-logo{

        margin: auto;


        p{
            color: #756729;
            margin-bottom: 0px;
            line-height: 42px;
            @media (max-width: 768px){
                font-size:10px;
            }
            .ft-design {
                > i {
                    display: none;
                }
                &:before {
                    content: 'FT ';
                    text-transform: uppercase;
                    font-style: normal;
                }
                &:after {
                    content: 'Design';
                    text-transform: uppercase;
                    font-style: italic;
                }
            }
        }
    }


    a{
        position: absolute;
        right: 1%;
        bottom: 10%;
        color: #fff;
        font-weight:bold;
        @media (max-width: 768px){
            font-size:10px;
        }
        @media (max-width: 500px){
            font-size:8px;
        }
        &:hover{
            color: orange;
            font-weight: bold;
            text-decoration: none;
        }
        &:focus{
            color: #fff;
            font-weight:bold;
            text-decoration: none;
        }
        &:active{
            color: #fff;
            font-weight:bold;
            text-decoration: none;

        }
        &:visited{
            font-weight:bold;
            text-decoration: none;
        }
    }

}




