<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 error404">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <span class="subtext">404</span>
                    <p class="subinfo">

                        Strony nie znaleziono

                    </p>
                </div>
                <div class="col-md-3">
                </div>
            </div>

        </div>
    </div>
</div>