.clearfix {
  clear: both;
}
.mySlider {
  width: 1085px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
}
.mySlider ul {
  list-style: none;
  padding: 0;
}
.mySlider ul li {
  width: 120px;
  padding: 0;
  height: 500px;
  float: left;
  /*             box-shadow: 0 28px 14px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.22);*/
  border-left: 10px solid white;
  position: relative;
}
.mySlider ul li:hover .accordion-text {
  opacity: 1;
  transition: linear opacity 1.2s;
  transition-delay: 0.5s;
}
.mySlider ul li .accordion-text {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  height: 40px;
  line-height: 40px;
  width: 550px;
  text-transform: uppercase;
  padding-left: 20px;
  font-size: 17px;
  background-color: rgba(214, 209, 209, 0.9);
  transition: linear 0;
}
/*# sourceMappingURL=acordion.css.map */