#map {
  margin-top: 70px;
  height: 380px;
  width: 100%;
  margin-bottom: 42px;
  border-top: 1px solid #786b2e;
  border-bottom: 1px solid #786b2e;
}
.name-header {
  color: #756729;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
.name-form {
  color: #756729;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  padding-top: 102px;
  padding-bottom: 40px;
  display: block;
}
.name-position {
  display: block;
  font-size: 15px;
  margin-bottom: 15px;
}
.facebook-contact {
  display: block;
  width: 165px;
  position: relative;
  top: 25px;
}
.facebook-contact i {
  font-size: 44px;
  top: 30px;
  left: 210px;
}
.facebook-contact .facebook-text {
  font-size: 16px;
  font-weight: bold;
}
.facebook-contact:hover {
  text-decoration: none;
}
@media (max-width: 767px) {
  .mar-top30 {
    margin-top: 30px;
  }
}
form .form-control {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(117, 103, 41, 0.4);
  border: 0px solid #ffffff;
  color: #fff;
  box-shadow: -0.66px 0.75px 4px 0px rgba(0, 0, 0, 0.6);
  margin-top: 5px;
}
form .form-control::placeholder {
  color: #908553;
}
form .big {
  height: 130px;
}
form button {
  color: #fff;
  background-color: rgba(117, 103, 41, 0.8);
  /*text-transform: uppercase;*/
  float: right;
  margin-top: 5px;
  margin-right: 1px;
  border: none;
  height: 30px;
  width: 120px;
  font-size: 12px;
  /*letter-spacing: -1px;*/
  box-shadow: -0.66px 0.75px 4px 0px rgba(0, 0, 0, 0.6);
}
.triangle-background {
  background-image: url(../img/ft-logo.png);
  background-repeat: no-repeat;
  background-position: top right;
  height: 381px;
}
@media (min-width: 766px) and (max-width: 992px) {
  .triangle-background {
    display: none;
  }
}
@media (min-width: 510px) and (max-width: 767px) {
  .triangle-background {
    background-size: 50%;
    margin-right: 30px;
  }
}
@media (max-width: 510px) {
  .triangle-background {
    display: none;
  }
}
footer {
  color: red;
  margin-top: 100px;
}
.ft-design > i {
  display: none;
}
.ft-design:before {
  content: 'FT ';
  text-transform: uppercase;
  font-style: normal;
}
.ft-design:after {
  content: 'Design';
  text-transform: uppercase;
  font-style: italic;
}
/*# sourceMappingURL=contact.css.map */