.videoWrapper {
  position: relative;
  /* 16:9 */
  padding-bottom: 56.25%;
  margin-top: 30px;
  overflow: hidden;
}
.videoWrapper iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
/*# sourceMappingURL=film.css.map */