/*Overall CSS for each Horizontal Accordion.
        Most settings should be kept as it.
        Customize each Accordion by styling each Accordion's ID attribute instead.
*/

.haccordion{
    padding: 0;
}

.center {
    margin: auto;
}

.haccordion ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden; /*leave as is*/
}


.haccordion li{
    margin: 0;
    padding: 0;
    display: block; /*leave as is*/
    width: 70%; /*For users with JS disabled: Width of each content*/
    height: 200px; /*For users with JS disabled: Height of each content*/
    overflow: hidden; /*leave as is*/
    float: left; /*leave as is*/
}

.haccordion li .hpanel{
    width: 70%; /*For users with JS disabled: Width of each content*/
    height: 200px;  /*For users with JS disabled: Height of each content*/
}