#map {
  width: 100%;
  margin-bottom: 50px;
}
#map iframe {
  width: 100%;
  display: block;
  pointer-events: none;
  position: relative;
  /* IE needs a position other than static */
}
#map iframe .clicked {
  pointer-events: visible;
}
/*# sourceMappingURL=map.css.map */