@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.microblog {
  margin-top: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  height: auto;
  width: auto;
  /*    .microblog-item:first-child {
        margin-right: 20px;
    }*/
}
.microblog .picture {
  max-width: 100%;
  max-height: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
}
.microblog .microblog-item .item-title {
  margin-bottom: 0px;
  max-height: 20px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
}
.microblog .desc {
  margin-bottom: 0px;
  max-height: 125px;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  line-height: 18px;
  font-size: 12px;
  margin-top: 5px;
}
.microblog .author {
  padding-top: 30px;
}
.microblog .microblog-item {
  width: 300px;
  margin: 10px;
  box-shadow: 3px 3px 12px #272727;
  font-family: Open Sans;
  color: #6a6a6a;
  position: relative;
}
.microblog .picture {
  /*margin-top: 10px;*/
  margin-bottom: 17px;
  position: relative;
  height: 160px;
  overflow: hidden;
}
.microblog .fb-img {
  display: block;
  margin: auto;
  height: auto;
  width: auto;
  max-width: 100%;
}
.microblog .microblog-item {
  background: white;
  margin: 1em 0;
  padding: .5em;
  margin-right: 20px;
  height: 400px;
}
.microblog .fb-link,
.microblog fb-link * {
  color: #6a6a6a;
  text-decoration: none !important;
}
.microblog .fb-link:hover,
.microblog fb-link *:hover {
  color: #6a6a6a;
  text-decoration: none !important;
}
.microblog .social {
  padding-top: 5px;
  /*margin-top: 30px;*/
  position: absolute;
  /*bottom: 20px;*/
}
.microblog .dateYmd {
  float: right;
  font-size: 12px;
}
/*# sourceMappingURL=microblog.css.map */