.no-padding {
  padding: 0 !important;
}
body {
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 49%;
}
body .white {
  background-color: rgba(255, 255, 255, 0.9);
}
body .white .photo-news {
  background-image: url(../img/news-background.jpg);
  height: 80vh;
  background-attachment: fixed;
  margin-top: 30px;
  background-size: 100% auto;
  background-position: center;
  margin-bottom: 60px;
  background-repeat: no-repeat;
}
body .white .container {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  body .white .container {
    width: 970px;
  }
}
/*# sourceMappingURL=news.css.map */