/*.bg-404 {
    background-size: cover;
    background-position: center;
     Set rules to fill background
    min-height: 100%;
    min-width: 1024px;

     Set up proportionate scaling
    width: 100%;
    height: auto;

     Set up positioning
    position: fixed;
    top: 0;
    left: 0;
    z-index:9999;
}*/
.error404 {
  text-align: center;
}
.error404 .subinfo {
  color: #756729;
  font-family: 'Signika', sans-serif;
  font-size: 25px;
  width: 100%;
}
.error404 .subtext {
  color: #756729;
  width: 100%;
  font-size: 176px;
}
/*# sourceMappingURL=page404.css.map */