.parallax {
  /* The image used */
  background-image: url("../../i/parallax.jpg");
  /* Set a specific height */
  min-height: 960px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
}
/*# sourceMappingURL=parallax-image.css.map */