<ul class="pagination pull-right">
    <li ng-repeat="page in pages" ng-class="{active: page.active, disabled: page.disabled}">
        <a ng-click="selectPage(page.number)">{{page.text}}</a>
    </li>
</ul>
pages:{{pages|json}}