<span class="dd-handle">
    {{item.name}}&nbsp; (id: {{item.id}})
    <span ng-if="!item.description" class="label-warning">brak opisu!</span>
</span>
<div class="control-buttons">
    <input ng-change="onCheckbox(item)" type="checkbox" class="category-checkbox"  ng-model="item.show_in_menu" ng-checked="item.show_in_menu" data-toggle="tooltip" title="Wyświetl w menu kategorii" />
    <a data-ui-sref="^.edit(item)" class="btn btn-xs category-edit" title="Edytuj">
        <i class="fa fa-edit"></i>
    </a>
    <a ng-show="!item.children" ng-click="remove(item)" class="btn btn-xs btn-danger category-remove" title="Usuń">
        <i class="fa fa-remove"></i>
    </a>
    <a data-ui-sref="^.add({parent_id: {{item.id}}})" class="btn btn-xs btn-primary subcategory-add" title="Edytuj">
        <i class="fa fa-plus"></i>
    </a>
</div>