<span class="label" ng-class="{'label-danger': !ngModel, 'label-success': ngModel}" title="{{ngModel|alter:positive:negative}}">
    <i class="fa" ng-class="{'fa-thumbs-down': !ngModel, 'fa-thumbs-up': ngModel}"></i>
</span>