<button class="btn btn-success btn-xs" ng-click="collapseAll()"><i class="fa fa-minus" aria-hidden="true"></i></button>
<button class="btn btn-success btn-xs" ng-click="expandAll()"><i class="fa fa-plus" aria-hidden="true"></i></button>
<ol ng-class="{'dd-list': (items && items.length > 0), 'dd-empty': (!items || items.length == 0)}" >
    <li class="dd-item" data-id="{{item.id}}" ng-repeat="item in items" ng-include="'/views/templates/nestable_item.html'">

    </li>
</ol>