<button ng-if="item.children" data-action="collapse" type="button" style="display: block;">Collapse</button>
<button ng-if="item.children" data-action="expand" type="button" style="display: none;">Expand</button>
<div ng-include="itemTemplateUrl" include-replace></div>
<ol class="dd-list" ng-if="item.children">
    <li class="dd-item" data-id="{{item.id}}" ng-repeat="item in item.children" ng-include="'/views/templates/nestable_item.html'"></li>
</ol>
