<form class="form-horizontal" name="form" novalidate ng-submit="submit()">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-reorder"></i> Ogólne informacje</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Nazwisko:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="model.lastname" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Imię:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="model.firstname" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Login:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="model.username" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Email:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="model.email" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Grupy:</label>
                                <div class="col-md-10">
                                    <ui-select multiple ng-model="model.group" required>
                                        <ui-select-match allow-clear="true" placeholder="-= wybierz =-">
                                            <b>{{$item.label}}</b>
                                        </ui-select-match>
                                        <ui-select-choices repeat="t.label as t in groups">
                                            <div ng-bind-html="t.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-reorder"></i> Ustawienia</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label class="col-md-2 control-label">Nowe hasło:</label>
                                <div class="col-md-4">
                                    <input type="password" class="form-control" placeholder="Pozostaw puste by nie zmieniać hasła" ng-model="model.newpasswd">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Powtórz nowe hasło:</label>
                                <div class="col-md-4">
                                    <input type="password" class="form-control" placeholder="Pozostaw puste by nie zmieniać hasła" ng-model="model.renewpasswd">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="message.status !== 0">
                        <span class="col-md-offset-3 col-md-6" ng-bind="message.text"></span>
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <div class="form-actions">
                        <input type="submit" value="Zapisz zmiany" class="btn btn-primary pull-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>