<div class="box box-primary">
    <div class="overlay" data-ng-if="!$load(Model).$resolved">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-header with-border">
        <h3 class="box-title">Administratorzy</h3>
        <div class="box-tools">
            <a data-ui-sref="home.admin.add" class="btn btn-primary btn-xs pull-right">Dodaj admina</a>
        </div>


    </div>

    <div class="box-body">

        <div class="row">
            <div class="col-md-4">
                <span class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                    <input type="text" class="form-control" ng-model="search.name" />
                </span>
            </div>
        </div>

        <table class="table table-striped table-bordered table-hover table-checkable datatable dataTable">
            <thead>
                <tr>
                    <th ng-sortable="admin.username">Login</th>
                    <th ng-sortable="admin.lastname">Nazwisko</th>
                    <th ng-sortable="admin.firststname">Imię</th>
                    <th>
                        <div class="pull-right dropdown">
                            {{((filter.page - 1) * filter.limit) + 1}}-{{filter.page * filter.limit}}
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="number in limits">
                                    <a data-ng-click="filter.limit = number">{{number}}</a>
                                </li>
                            </ul>
                            /{{$count(Model).length}}
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm" data-ng-click="$prevPage()">
                                    <i class="fa fa-chevron-left"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm" data-ng-click="$nextPage()">
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="admin in $load(Model)">
                    <td>
                        <a data-ui-sref="^.edit(admin)" class="btn btn-xs" title="Szczegóły">
                            {{admin.username}} <small ng-if="user.middlename" class="middlename">{{user.middlename}}</small>
                        </a>
                    </td>
                    <td>
                        <a data-ui-sref="^.edit(admin)" class="btn btn-xs" title="Szczegóły">
                            {{admin.lastname}}
                        </a>
                    </td>
                    <td>
                        <a data-ui-sref="^.edit(admin)" class="btn btn-xs" title="Szczegóły">
                            {{admin.firstname}} <small ng-if="user.middlename" class="middlename">{{user.middlename}}</small>
                        </a>
                    </td>
                    <td class="text-right">
                        <a data-ui-sref="^.edit(admin)" class="btn btn-xs" title="Szczegóły">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
