.select2-container {
    width: 100%;
}

.thumb img {
    width: 100px;
}

.control-buttons{
    position: absolute;
    top: 4px;
    right: 10px;
    display: flex;
    align-items: center;
}

.control-buttons .category-checkbox{
    margin: 0;
}

.control-buttons .category-edit{
    line-height: 1.1;
}

.control-buttons .category-remove{
    margin-right: 5px;
}


.batubox-containter {
    z-index: 1050;
}

.calendar-edit-map .angular-google-map-container {
    width: 100%;
    height: 200px
}