<div class="user-panel">
    <div class="pull-left image">
        <img src="/assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p>[{$this->user->firstname}] [{$this->user->lastname}]</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>