<aside class="main-sidebar">
    <section class="sidebar">
        [{region name='\NewBatu\Admin\Region\Admin' view='sidebarUser'}]
        [{*        [{region name='\NewBatu\Admin\Region\Admin' view='sidebarSearch'}]*}]
        [{region name='\NewBatu\Admin\Region\Admin' view='sidebarMenu'}]
    </section>
</aside>