<!-- /Navigation -->
<div class="sidebar-title">
    <span>Najnowsze powiadomienia</span>
</div>
<ul class="notifications demo-slide-in"> <!-- .demo-slide-in is just for demonstration purposes. You can remove this. -->
    <li style="display: none;"> <!-- style-attr is here only for fading in this notification after a specific time. Remove this. -->
        <div class="col-left">
            <span class="label label-danger"><i class="icon-warning-sign"></i></span>
        </div>
        <div class="col-right with-margin">
            <span class="message">Server <strong>#512</strong> crashed.</span>
            <span class="time">few seconds ago</span>
        </div>
    </li>
    <li style="display: none;"> <!-- style-attr is here only for fading in this notification after a specific time. Remove this. -->
        <div class="col-left">
            <span class="label label-info"><i class="icon-envelope"></i></span>
        </div>
        <div class="col-right with-margin">
            <span class="message"><strong>John</strong> sent you a message</span>
            <span class="time">few second ago</span>
        </div>
    </li>
    <li>
        <div class="col-left">
            <span class="label label-success"><i class="icon-plus"></i></span>
        </div>
        <div class="col-right with-margin">
            <span class="message"><strong>Emma</strong>'s account was created</span>
            <span class="time">4 hours ago</span>
        </div>
    </li>
</ul>