<h1>
    {{stateName}}
    <small>Wersja 2.0</small>
</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li data-ng-class="{active: $last}" data-ng-repeat="state in statePath">
        <a data-ui-sref="{{state.name}}">
            <i class="fa fa-dashboard"></i>
            {{state.label}}
        </a>
    </li>
</ol>