.category-edit {
    position: absolute;
    right: 5px;
    top: 5px;
}
.category-remove {
    position: absolute;
    right: 42px;
    top: 5px;
}

.subcategory-add {
    position: absolute;
    right: 79px;
    top: 5px;
}

.control-value {
    padding: 7px 21px;
}

.product-edit .images {
    margin:0;
    padding:0;
    list-style:none;
}
.product-edit .image {
    width: 110px;
    height: 140px;
    float: left;
    margin-right: 10px;
}
.product-edit .image:nth-child(1) .thumb {
    border: 1px solid black;
}
.product-edit .image .thumb {
    height: 110px;
    width: 110px;
    position: relative;
    margin-bottom: 5px;
    background-color: #FFF;
}

.product-edit .image .thumb img {
    max-height:100px;
    max-width:100px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.product-edit .image .thumb [data-role="remove"] {
    font-weight: bold;
    color: #82AD2B;
    text-decoration: none;
    font-size: 11px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 2px;
}
.product-edit .image .thumb [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}

.product-edit .image .thumb canvas{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.product-edit .image .progress {
    width: 110px;
    height: 18px;

}
.product-edit .tt-dropdown-menu {
    width:377px;
}
.ui-widget-content {
    height:32px !important;
    width:100% !important;
    border: 1px solid #CCC !important;
    padding: 6px !important;
}
.ui-widget-content .form-control {
    height:100% !important;
    width:100% !important;
    border:none !important;
    margin:0 !important;
    padding:0 !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow:none !important;
    -webkit-transition:none !important;
    transition:none !important;
}
/*.ui-widget-content .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}*/
.ui-corner-all {
    border-radius: 0;
}

.ui-spinner-button {
    position:absolute !important;
}
.form-control.tagsinput {
    padding: 0px 2px;
    height: auto;
}

.form-control.tagsinput .tag {
    border: 1px solid #A5D24A;
    display: block;
    float: left;
    padding: 0 8px;
    background: #CDE69C;
    color: #638421;
    margin: 5px;
    line-height: 23px;
    font-size: 11px;
}
.form-control.tagsinput .tag [data-role="remove"] {
    font-weight: bold;
    color: #82AD2B;
    text-decoration: none;
    font-size: 11px;
    cursor: pointer;
    margin-left: 5px;
}
.form-control.tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}

.form-control.tagsinput input[type="text"] {
    border:none !important;
    margin:0 !important;
    padding:0 5px !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow:none !important;
    -webkit-transition:none !important;
    transition:none !important;
    line-height: 35px;
}
.tt-dropdown-menu {
    background-color:#FFF;
    color:#000;
    margin-top:1px;
    min-width: 100%;
}
.tt-cursor {
    background-color:#ddd;
}
.form-control[required] {
    border-color: #4277A2;
}
.statbox .zanox {
    background-image: url('/img/zanox-icon.png');
    background-repeat: no-repeat;
}
.statbox .amazon {
    background-image: url('/img/amazon-icon.png');
    background-repeat: no-repeat;
}

.statbox.selected {
    border-color: #616161;
}

.itemsPerPage {
    width: 100px;
}

.select2-container.form-control {
    padding: 0;
    border: none;
}

.select2-container.form-control .select2-choice {
    height:32px;
    border-radius:0px;
}

table.table thead .identifier {
    width: 95px;
}
table.table thead .actions {
    width: 150px;
}
table.table thead .image {
    width: 80px;
}
table.table tbody .image img {
    max-height: 50px;
    max-width:50px;
}
table.table thead .sorting:before, table.table thead .sorting_desc:before {
    content: '\25b4';
    float: right;
    position: relative;
    right: 2px;
    top: -5px;
}
table.table thead .sorting:after, table.table thead .sorting_asc:after {
    content: '\25be';
    float: right;
    position: relative;
    right: 2px;
    top: 3px;
}
table.table thead .sorting:after {
    right: -5px;
}


.ng-submitted .form-control.ng-invalid {
    border-color: #A94442;
    border-width: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.ng-submitted .form-control.ng-invalid + .error {
    display: block;
}

.error {
    display: none;
    color: #A94442;
    margin-top: 5px;
    margin-bottom: 10px;
}

.batubox-containter .batubox-window {
    top: 140px;
}

.btn input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.gridster-loaded .gridster-item {
    border: 1px dotted #000;
    display: flex;
    flex-direction: row
}
.gridster-loaded .gridster-item .names{
    flex-grow: 1;
    background-color: #f3f3f3;
}
.gridster-loaded .gridster-item .names.drag{
    background-color: transparent;
}
.gridster-loaded .gridster-item .actions{
    background-color: #f3f3f3;
    width: 100px;
    padding-left: 7px;
}
.category-checkbox {
    position: absolute;
    right: 122px;
    top: 5px;
}