img {
    display: inline-block !important;
}

.ui-wrapper {
    border: 1px solid blue;
    padding: 3px;
    display: inline-block !important;
}

.wysiwyg-text-align-right {
    text-align: right;
}
.wysiwyg-text-align-left {
    text-align: left;
}
.wysiwyg-text-align-center {
    text-align: center;
}
.wysiwyg-text-align-justify {
    text-align: justify;
}
.wysiwyg-text-float-left {
    float: left;
    margin: 10px 10px 10px 0;
}
.wysiwyg-text-float-right {
    float: right;
    margin: 10px 0 10px 10px;
}

.lockedForEditing {
    color:blue;

}